body{
    background: no-repeat center/80% url(./src/images/Number-Guessing-Game-using-JavaScript-3.webp);
    background-size: cover;
}
.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.5fr 1.2fr 1.2fr 1.6fr 1fr 0.5fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "Header Header Header Header"
    "Colab Colab Calendar Calendar"
    "Colab Colab Calendar Calendar"
    "Colab Colab Week Week"
    "Colab Colab Week Week"
    "Footer Footer Footer Footer";

}

.Calendar {
  grid-area: Calendar;
}

.Colab {
  grid-area: Colab;
  overflow: hidden;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;

}

.Week {
  grid-area: Week;
}

.Header {
  grid-area: Header;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.Footer {
  grid-area: Footer;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba( 255, 255, 255, 0.2 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 18px );
  -webkit-backdrop-filter: blur( 18px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  font-family: 'Carter One', cursive;
  font-size: 1.5rem;
}

html,
body,
.container {
  height: 100%;
  margin: 0;
}

/* For presentation only, no need to copy the code below */
/*
.container * {
  border: 1px solid red;
  position: relative;
}

.container *:after {
  content: attr(class);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: grid;
  align-items: center;
  justify-content: center;
}
*/


#card-container {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    z-index: 9999;
  }
  
  #card {
    position: relative;
    background-color: white;
    padding: 20px;
    width: 50%;
    max-width: 500px;
    margin: 0 auto;
  }
  
  #close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
  }


  .btn-close {
     --bs-btn-close-white-filter: none !important;
  }
  #card-container-semana {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    z-index: 9999;
  }
  
  #card {
    position: relative;
    background-color: white;
    padding: 20px;
    width: 50%;
    max-width: 500px;
    margin: 0 auto;
  }
  
  #close-btn-semana {
    position: absolute;
    top: 10px;
    right: 10px;
  }


  .btn-close {
     --bs-btn-close-white-filter: none !important;
  }





.imagemTrocada{
    margin: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    border-radius: 50%;
}

.glass{
position: absolute;
align-items: center;
background: rgba( 255, 255, 255, 0.2 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 18px );
-webkit-backdrop-filter: blur( 18px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
color: aliceblue;
}

.titulo{
    margin-top: 20px;
    align-items: center;
    font-family: 'Carter One', cursive;
    font-size: xx-large;
    color: black;
 }

 
@media (min-width: 1900px){
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        max-width: 1700px!important;
    }
    .imagemTrocada{
        max-height: 1098px!important;
    }
}
  

/*calendario*/
body{
  background-color: #333;
}
.wraper{
  max-width: 760px;
  margin:10px auto;
  padding:20px;
  display: flex;
  flex-wrap: wrap;
}
.days-week{
  display: flex;
  width: 100%;
  justify-content: space-around;
}
.number-days{
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.days-week span{
  color: #F86078;
  border-bottom:  1px solid #F86078;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.number-days span{
  display: inline-block;
  width: 14.2%;
  margin: 8px 0;
  color: #555;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mes-anterior{
opacity: 0.5;
}

.day-selected{
  background-color: #fcb4bf;
}

.day-selected-ferias{
  background-color: #F86078;
}
/*fim-calendario*/

/*week*/
.Week{

  margin: 20px;
}