body {
  /*background: no-repeat center/80%
    url(./src/images/Number-Guessing-Game-using-JavaScript-3.webp);
  */
  background: rgb(255,253,234);
  background: radial-gradient(circle, rgba(255,253,234,1) 0%, rgba(38,125,142,0.5) 97%);
    background-size: cover;

}
.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.5fr 1.2fr 1.2fr 1.6fr 1fr 0.5fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "Header Header Header Header"
    "Colab Colab Calendar Calendar"
    "Colab Colab Calendar Calendar"
    "Colab Colab Week Week"
    "Colab Colab Week Week"
    "Footer Footer Footer Footer";
}

.Calendar {
  grid-area: Calendar;
    margin: 20px;
    display: flex;
    align-items:center ;
    justify-content: center;
  
}

.Colab {
  margin-right: 20%;
  margin-top: 5%;
  grid-area: Colab;
  overflow: hidden;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}

.Week {
  grid-area: Week;
}

.Header {
  grid-area: Header;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.Footer {
  grid-area: Footer;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(18px);
  -webkit-backdrop-filter: blur(18px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  font-family: "Carter One", cursive;
  font-size: 1.5rem;
}

html,
body,
.container {
  height: 100%;
  margin: 0;
}


#card-container {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  z-index: 9999;
}

#card {
  position: relative;
  background-color: white;
  padding: 20px;
  width: 50%;
  max-width: 500px;
  margin: 0 auto;
}

#close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
}
/*ferias*/
#card-container-ferias {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  z-index: 9999;
}

#card-ferias {
  position: relative;
  background-color: rgba(255, 255, 255, 0.90);
  padding: 10px 40px 40px 0px;
  width: 50%;
  max-width: 800px;
  margin: 0 auto;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#close-btn-ferias {
  position: absolute;
  top: 10px;
  right: 10px;
}

/* ferias*/



.btn-close {
  --bs-btn-close-white-filter: none !important;
}

#card-container-semana {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  z-index: 9999;
}


#card-semana {
  position: relative;
  background-color: rgba(255, 255, 255, 0.90);
  padding: 10px 40px 40px 0px;
  width: 50%;
  max-width: 800px;
  margin: 0 auto;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.finalizarEscolha{
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#close-btn-semana {
  position: absolute;
  top: 10px;
  right: 10px;
}

.btn-close {
  --bs-btn-close-white-filter: none !important;
}

.imagemTrocada {

  height: 90%;
  z-index: -1;
  border-radius: 50%;
}

.glass {
  position: absolute;
  align-items: center;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(18px);
  -webkit-backdrop-filter: blur(18px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  color: aliceblue;
}

.titulo {
  margin-top: 20px;
  align-items: center;
  font-family: "Carter One", cursive;
  font-size: xx-large;
  color: black;
}

@media (min-width: 1900px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 1700px !important;
  }
  .imagemTrocada {
    max-height: 1098px !important;
  }
}

/*calendario*/
.wraper {
  max-width: 760px;
  margin: 10px auto;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
}
.days-week {
  display: flex;
  width: 100%;
  justify-content: space-around;
}
.number-days {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.days-week span {
  color: #f86078;
  border-bottom: 1px solid #f86078;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.number-days span {
  display: inline-block;
  width: 14.2%;
  margin: 8px 0;
  color: #555;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}
.mes-anterior {
  opacity: 0.5;
}

.day-selected {
  background-color: #fcb4bf;
  color: #FFF!important;
  font-weight: bold;
}

.day-selected-ferias {
  background-color: #f86078;
  color: #FFF!important;
  font-weight: bold;
}
/*fim-calendario*/

/*week*/
.Week {
  margin: 20px;
  display: flex;
  align-items:center ;
  justify-content: center;
}
.diasDaSemana{
  display: flex;
  align-items: center;
  justify-content:space-around;
  gap: 10px;
}
.escolhas > h2{
  display: flex;
  align-items: center;
  justify-content: center;
}
.escolhas > h1{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
}

.tg {
  border-collapse: collapse;
  border-spacing: 0;
}
.tg td {
  /*
  border-color: black;
  border-style: solid;
  border-width: 1px;
  */
  background-color: rgba(255,253,234,1);
  color:blac;
  font-family: "Carter One", cursive;
  font-size: 20px;
  overflow: hidden;
  word-break: normal;
  text-align: center;
}
.tg th {
  background-color: rgba(255,253,234,1);
  color:black;
  font-family: "Carter One", cursive;
  font-size: 14px;
  font-weight: normal;
  overflow: hidden;
  padding: 10px 5px;
  word-break: normal;
}
.tg .tg-pb0m {
  border-color: inherit;
  text-align: center;
  vertical-align: bottom;
}
.tg .tg-c3ow .home{
  border-color: inherit;
  text-align: center;
  vertical-align: top;
  background-color: rgba(255,253,234,1);
  color:black;
}


.home{
  background: #ec5595 !important;;
  text-align: center;
  vertical-align: top;

}
.troca{
  background:none;
  text-align: center;
  vertical-align: top;
  background-color: rgba(255,253,234,1);
  color:black;
}

@media (max-width: 600px)
{
  .facet_sidebar
   {
    display: none;
   }
}


.borda{
  background-color: rgba(255,253,234,1);
  color:black;
}
.borda-top-esquerda{
  border-top-left-radius: 10px!important;
}
.borda-top-direita{
  border-top-right-radius: 10px!important;
}
.borda-bottom-esquerda{
  border-bottom-left-radius: 10px!important;
}



tr:last-child td:first-child { border-bottom-left-radius: 10px!important; }
tr:last-child td:last-child { border-bottom-right-radius: 10px!important; }

.botoesFooter{
  display: flex;
  align-items: center;
  justify-content: space-between;
}